<div class="bootstrap-wrapper" *ngIf="!isSubmit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="background-color: #003153;">
        <!-- instructions -->
        <div style="text-align: center; padding-top: 15px;">
          <h2 style="color: white;">Instructions</h2>
        </div>
        <hr>
        <div style="color: #CCD6E2; font-style: italic;">
          <p>
            The quiz has a specific time limit. Make sure to manage your time wisely to complete all questions.
          </p>
          <p>You can navigate between questions freely. </p>
          <p>Try to answer all questions. Unanswered questions will not be scored.</p>
          <p>Make sure to submit your answers before the time runs out. Unsubmitted answers will not be scored.</p>
          <p>You can change your answers before submitting. Only the final submission will be considered.</p>
          <p>For multiple-choice questions, choose only one answer unless otherwise stated.</p>
          <p>If the question or options don't fit on the screen, you can scroll within the question area.</p>
          <p>If the question or options don't fit on the screen, you can scroll within the question area.</p>
        </div>
      </div>
      <div class="col-md-8">
        <!-- questions -->
        <ng-container *ngIf="questions">
          <h1 class="mt20">
            <b>Topic</b> : {{ questions[0].quiz.title }}
          </h1>
        </ng-container>

        <mat-card *ngFor="let q of questions; let i = index" class="mt10">
          <mat-card-content>
            <p>
              <b>Q {{ i + 1 }})</b>
              <span class="ml10" [innerHTML]="q.content"></span>
            </p>

            <mat-divider> </mat-divider>
            <br />

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option1"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option1 }}
              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option2"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option2 }}
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option3"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option3 }}
              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option4"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option4 }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20">
          <div style="padding-left: 400px;">
            <button 
            (click)="submitQuiz()" mat-raised-button color="primary" 
            class="button-1 button-container">
              Submit Quiz
            </button>
          </div>
         
        </div>
      </div>
      <div class="col-md-2">
        <!-- progress -->

        <mat-card style="margin-top: 70px">
          <mat-card-header>
            <mat-card-title> Progress </mat-card-title>
            <mat-card-subtitle>
              Quiz will automatically submitted when timer reaches to <b>0:0</b>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h1 class="text-center">{{ getFormattedTime() }}</h1>
            <div class="uploader-status">
              <mat-spinner
              mode="determinate"
              style="margin: auto"
              [value]="(timer / (this.questions.length * 2 * 60)) * 100"
            ></mat-spinner>
            </div>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- show the result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
  <div class="row mt20" style="padding-top: 50px;">
    <div class="col-md-6 offset-md-3">
      <mat-card style="padding-top: 20px;">
        <mat-card-header>
          <mat-card-title style="font-size: 40px; padding-top: 20px; padding-bottom: 20px;"> Quiz Result </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="text-center">
          <h1>Marks Got : {{ marksGot }}</h1>
          <h1>Correct Answers : {{ correctAnswers }}</h1>
          <h1>Questions Attempted :{{ attempted }}</h1>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <div style="padding-bottom: 20px;">
            <button mat-raised-button color="primary" class="button-2 button-container2">Print</button>
          <button class="button-2 button-container2"
            mat-raised-button
            color="accent"
            [routerLink]="'/user-dashboard/0'"
          >
            Home
          </button>
        </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
