<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h1 
    style="text-shadow: 2px 7px 5px rgba(0,0,0,0.2), 
    0px -4px 10px rgba(255,255,255,0.1); padding-left: 300px; padding-top: 20px;">
    Available Quizzes</h1>
    <hr class="sep-2">
    <div class="row mt20" *ngIf="quizzes">

      <div class="col-md-4" *ngFor="let q of quizzes">
        <mat-card class="mb20 submenu-item"
        [routerLink]="'/user-dashboard/instructions/' + q.qId">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              {{ q.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ q.category.title }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="truncate">{{ q.description }}</p>
          </mat-card-content>
          <div>
            <mat-card-action>
              <button mat-button class="mat-success" class="button-1 button-container">Start Quiz </button>
            </mat-card-action>
          </div>
          <mat-card-action  >
            
            <!-- <button mat-button
            class="ml10"
            style="padding-left: 25px;"
            [routerLink]="'/user-dashboard/instructions/' + q.qId"
            class="ml10"
            >
              Start
            </button> -->
            <button mat-button color="#FF6C07" style="padding-left:10px;">
              <span style="color: #D35600;" >Questions: {{ q.numberOfQuestions }}</span>
            </button>
            <button mat-button color="#003153" style="padding-left:5px;"><span style="color: #D35600;">Marks: {{ q.maxMarks }}</span></button>
          </mat-card-action>
        </mat-card>
      </div>

      <div class="col-md-12" *ngIf="quizzes.length == 0">
        <mat-card>
          <mat-card-content>
            <h1>No data in this category</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
