.button-1 {
    background-color: transparent;
    color: #FA6600;
    border: 1.5px solid #D35600;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    
  }
  .button-1:hover {
    background-color:#FA6600 ;
    border: 1px solid #D35600;
    color: white;
  }
  
  .button-container {
    display: flex;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
  } 